body, html {
    height: 100%;
}

#hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/iot-splash.jpg");
    /* Set a specific height */
    height: 91.5%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 80%;
  }
  
  #hero-image .hero-text .title{
      font-size: 6rem;
  }
  #hero-image .hero-text .description{
      font-size: 1.5rem;
      margin-top: 60px;
  }

  @media (max-width: 858px) {
    #hero-image .hero-text .title{
        font-size: 4rem;
    }
    #hero-image .hero-text .description{
        font-size: 1rem;
        margin-top: 30px;
    }
}